@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #7BDAF3;
}
.main{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}
.note-item{
    background-color: #fff;
    width: 25%;
    height: 20em;
    margin: 0 10px;
}
.tool-set{
    display: flex;
    justify-content: space-between;
    background-color: #ECFAF5;
    padding:1rem;
    border-top: 1px solid #f0f0f0;
}
.tool-set i{
    font-size: 18px;
    padding: 0 .5rem;
    color:#9EC862;
}
.left{
    display: flex;
}
.right i{
    color:rgb(226, 46, 46);
}